<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        

        <!--=============== FAVICON ===============-->
        <link rel="shortcut icon" href="/assets2/img/favicon.png" type="image/x-icon">

        <!--=============== REMIX ICONS ===============-->
        <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">

        <!--=============== CSS ===============-->
        <link rel="stylesheet" href="/assets2/css/styles.css">
  
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js" integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS" crossorigin="anonymous"></script>
        <title>Nursery</title>
        <script src="https://www.gstatic.com/firebasejs/9.0.2/firebase-app.js"></script>
        <script src="https://www.gstatic.com/firebasejs/9.0.2/firebase-auth.js"></script>
        <script src="https://www.gstatic.com/firebasejs/9.0.2/firebase-firestore.js"></script>
       
        <style type="text/css">
        .nav__menu li ul {
            display:none;
            position:absolute;
            min-width:140px;
        }
        .nav__menu li:hover>ul{
            display: block;
        }
        .nav__menu li ul li{
            position: relative;
        }
        .nav__menu li ul li ul{
            right: -140px;
            top: 0px;
        }
        .nav__menu li a{
            background-color: #123412;
            color: rgb(255, 255, 255);
            text-decoration: none;
            padding: 10px 15px;
            display: block;
        }
        .header{
            background-color: #123412;
            color: aliceblue;
        }
        .nav__logo{color: #fff;}
        .nav__toggle{color: #fff;}
        </style>
    </head>
    <body>
        <!--==================== HEADER ====================-->
        <header class="header" id="header">
            <nav class="nav container">
                <a href="#" class="nav__logo">
                    <i class="ri-leaf-line nav__logo-icon"></i> Nursery
                </a>

                <div class="nav__menu" id="nav-menu">
                    <ul class="nav__list">
                        <li class="nav__item">
                            <a href="#products" class="nav__link">Plantas</a>
                            <ul>
                                <li><a href="">Medicinales</a> 
                                <ul><li><a href="">Marihuana</a></li>
                                    <li><a href="">Sábila</a></li>
                                    <li><a href="">Hierbabuena</a></li>
                                    <li><a href="">Manzanilla</a></li>
                                </ul></li>
                                <li><a href="">Aromáticas</a> 
                                    <ul>
                                        <li><a href="">Romero</a></li>
                                        <li><a href="">Tomillo</a></li>
                                        <li><a href="">Menta</a></li>
                                        <li><a href="">Perejil</a></li>
                                    </ul>
                                </li>
                                <li><a href="">Bulbosas</a> 
                                    <ul><li><a href="">Tulipanes</a></li>
                                        <li><a href="">Narcisos</a></li>
                                        <li><a href="">Lirios</a></li>
                                        <li><a href="">Gladiolos</a></li>
                                    </ul>
                                </li>
                                    <li><a href="">Trepadoras</a> 
                                        <ul><li><a href="">Madre selva</a></li>
                                            <li><a href="">Buganvilla</a></li>
                                            <li><a href="">Jazmin</a></li>
                                            <li><a href="">Glicina</a></li>
                                        </ul>
                                    </li>
                            </ul>
                        </li>
                    
                        
                        <li class="nav__item">
                            <a href="#home" class="nav__link active-link">Home</a>
                        </li>
                        <li class="nav__item">
                            <a href="#about" class="nav__link">About</a>
                        </li>
                        
                 
                    </ul>

                    <div class="nav__close" id="nav-close">
                        <i class="ri-close-line"></i>
                    </div>
                </div>

                <div class="nav__btns">
                    <!-- Theme change button -->
                    <i class="ri-user-line" color="#fff" ></i>
                    <i class="ri-moon-line change-theme1" id="theme-button" color="#fff"></i>

                    <div class="nav__toggle" id="nav-toggle">
                        <i class="ri-menu-line"></i>
                    </div>
                </div>
            </nav>
          

        </header>
        
         
        <main class="main">
            <!--==================== HOME ====================-->
            <section class="home" id="home">
                <div class="home__container container grid">
                    <img src="/assets2/img/cannabis.png" alt="" class="home__img">

                    <div class="home__data">
                        <h1 class="home__title">
                            Las plantas harán <br> tu vida mejor
                        </h1>
                        <p class="home__description">
                            Crea increíbles diseños de plantas para sus oficinas,apartamentos o tu hogar. Añade frescura a tus nuevas ideas.
                        </p>
                        <a href="#about" class="button button--flex">
                            Explorar <i class="ri-arrow-right-down-line button__icon"></i>
                        </a>
                    </div>

                    <div class="home__social">
                        <span class="home__social-follow">Siguenos</span>

                        <div class="home__social-links">
                            <a href="https://www.facebook.com/" target="_blank" class="home__social-link">
                                <i class="ri-facebook-fill"></i>
                            </a>
                            <a href="https://www.instagram.com/" target="_blank" class="home__social-link">
                                <i class="ri-instagram-line"></i>
                            </a>
                            <a href="https://twitter.com/" target="_blank" class="home__social-link">
                                <i class="ri-twitter-fill"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </section>

            <!--==================== ABOUT ====================-->
            <section class="about section container" id="about">
                <div class="about__container grid">
                    <img src="/assets2/img/about.png" alt="" class="about__img">

                    <div class="about__data">
                        <h2 class="section__title about__title">
                            Ventajas de tener <br> plantas en tu hogar
                        </h2>

                        <p class="about__description">
                            Grandes, pequeñas, colgantes y hasta en floreros. Tener plantas en casa te ayudará a decorar tu hogar y aportarle frescura. Y las puedes poner en el salón –por supuesto–, la cocina, el baño y hasta en el dormitorio. 
                            Porque las plantas refrescan el ambiente, purifican el aire, absorben los malos olores... ¿Quieres más motivos?
                        </p>

                        

                        <a href="#" class="button--link button--flex">
                            Shop Now <i class="ri-arrow-right-down-line button__icon"></i>
                        </a>
                    </div>
                </div>
            </section>
            <!--==================== PRODUCTS ====================-->
            <section class="product section container" id="products">
                <h2 class="section__title-center">
                    Check out our <br> products
                </h2>

                <p class="product__description">
                    Here are some selected plants from our showroom, all are in excellent 
                    shape and has a long life span. Buy and enjoy best quality.
                </p>

                <div class="product__container grid">
                    <article class="product__card">
                        <div class="product__circle"></div>

                        <img src="/assets2/img/product1.png" alt="" class="product__img">

                        <h3 class="product__title">Cacti Plant</h3>
                        <span class="product__price">$19.99</span>

                        <button class="button--flex product__button">
                            <i class="ri-shopping-bag-line"></i>
                        </button>
                    </article>

                    <article class="product__card">
                        <div class="product__circle"></div>

                        <img src="/assets2/img/product2.png" alt="" class="product__img">

                        <h3 class="product__title">Cactus Plant</h3>
                        <span class="product__price">$11.99</span>

                        <button class="button--flex product__button">
                            <i class="ri-shopping-bag-line"></i>
                        </button>
                    </article>

                    <article class="product__card">
                        <div class="product__circle"></div>

                        <img src="/assets2/img/product3.png" alt="" class="product__img">

                        <h3 class="product__title">Aloe Vera Plant</h3>
                        <span class="product__price">$7.99</span>

                        <button class="button--flex product__button">
                            <i class="ri-shopping-bag-line"></i>
                        </button>
                    </article>

                    <article class="product__card">
                        <div class="product__circle"></div>

                        <img src="/assets2/img/product4.png" alt="" class="product__img">

                        <h3 class="product__title">Succulent Plant</h3>
                        <span class="product__price">$5.99</span>

                        <button class="button--flex product__button">
                            <i class="ri-shopping-bag-line"></i>
                        </button>
                    </article>

                    <article class="product__card">
                        <div class="product__circle"></div>

                        <img src="/assets2/img/product5.png" alt="" class="product__img">

                        <h3 class="product__title">Succulent Plant</h3>
                        <span class="product__price">$10.99</span>

                        <button class="button--flex product__button">
                            <i class="ri-shopping-bag-line"></i>
                        </button>
                    </article>

                    <article class="product__card">
                        <div class="product__circle"></div>

                        <img src="/assets2/img/product6.png" alt="" class="product__img">

                        <h3 class="product__title">Green Plant</h3>
                        <span class="product__price">$8.99</span>

                        <button class="button--flex product__button">
                            <i class="ri-shopping-bag-line"></i>
                        </button>
                    </article>
                </div>
            </section>

        <!--==================== FOOTER ====================-->
        <footer class="footer section">
            <div class="footer__container container grid">
                <div class="footer__content">
                    <a href="#" class="footer__logo">
                        <i class="ri-leaf-line footer__logo-icon"></i> NURSERY
                    </a>
                </div>

                <div class="footer__content">
                    <h3 class="footer__title">Dirección</h3>

                    <ul class="footer__data">
                        <li class="footer__information">Calle 17a#12-67 </li>
                        <li class="footer__information">Yopal-Casanare</li>
                        <li class="footer__information">Colombia</li>
                    </ul>
                </div>

                <div class="footer__content">
                    <h3 class="footer__title">Contáctanos</h3>

                    <ul class="footer__data">
                        <li class="footer__information">+57 3227839532</li>
                        
                        <div class="footer__social">
                            <a href="https://www.facebook.com/" class="footer__social-link">
                                <i class="ri-facebook-fill"></i>
                            </a>
                            <a href="https://www.instagram.com/" class="footer__social-link">
                                <i class="ri-instagram-line"></i>
                            </a>
                            <a href="https://twitter.com/" class="footer__social-link">
                                <i class="ri-twitter-fill"></i>
                            </a>
                        </div>
                    </ul>
                </div>

              
        
        <!--=============== SCROLL UP ===============-->
        <a href="#" class="scrollup" id="scroll-up"> 
            <i class="ri-arrow-up-fill scrollup__icon"></i>
        </a>

        <!--=============== SCROLL REVEAL ===============-->
        <script src="/assets2/js/main.js"></script>
        
        <!--=============== MAIN JS ===============-->
        <script src="/assets2/js/scrollreveal.min.js"></script>
        <script src="	https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    </body>
</html>
